div.widget {
    margin: 5px 5px;
    background-color: rgba(0, 85, 255, 0.2);
    border-radius: 9px;
    padding: 5px;
    min-width: 120px;
}
div.date {
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}
div.temp {
    font-size: 2em;
    color: rgba(0,0,0,0.9);
}

